<div class="meetings">

        <h2>Hi <%= @current_user.first_name %>, Here are all of your meetings: </h2>

        <div>
            <h3> Meetings I'm hosting: </h3>
            <ul>
            <% @meetings.each do |meeting| %>
                <% if meeting.user == @current_user %>
                    <li> Title: <%= link_to meeting.title, edit_meeting_path(@current_user, meeting) %> - When? <%= meeting.datetime %><br></li>
                <% end %>
            <% end %>
            </ul>
        </div>
        <div>
            <h3> Meetings I'm attending: </h3>
            <ul>
                <% @registrations.each do |registration| %>
                <li> Title: <%= link_to registration.meeting.title, edit_registration_path(@current_user, registration) %> - When? <%= registration.meeting.datetime %><br></li>
                <% end %>
            </ul>
        </div>

</div>