<h2>Meeting Information Page</h2>

<h3> <%= @meeting.title %> </h3>

<%= @meeting.category.name %> - <%= @meeting.subcategory.name %>
<p> When? <%= @meeting.time %>
<p> Number of Attendees: <%= @meeting.users.count %>

<p> <strong> Host: </strong> <%= link_to @meeting.user.full_name, user_path(@meeting.user.id) %> </p>

<p> <strong> Description: </strong> <%= @meeting.description %> <br>

<%= link_to 'Register', new_registration_path %>