<h1> Edit <%= @current_user.full_name%>'s Profile </h1>

<%= form_for @current_user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br>
    <%= f.label :username %>
    <%= f.text_field :username %> <br>
    <%= f.label :bio %>
    <%= f.text_area :bio %> <br>
    <%= f.label :password %>
    <%= f.password_field :password %> <br>
    <%= f.submit "Update" %>
    <% end %>