<% if @error %>
<p><%= @error %></p>
<% end %>

<div class="row" id="form">
    <div class="col-md-12">
      <%= form_for(:user, url: handle_login_path) do |f|%>
        <h1 class= "welcome">Welcome Back!</h1>
        <br>
        <%#= render "users/error"%>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%=f.text_field :username, placeholder: "Enter username", class: "form-control input-lg"%>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
          <%=f.password_field :password, placeholder: "Password",class:"form-control input-lg"%>
        </div>
        <br>
        <%=f.submit "Log in", class: "btn-block btn-primary btn-lg"%>
        <h6 class="signup_link">Not a member? <%=link_to "Sign up", signup_path%></h6>
      <%end%>
    </div>
  </div>
