<!DOCTYPE html>
<html>
  <head>
    <title>Mod2ProjectApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <div class="container">  
    <body>
  

  <% if check_if_user_is_logged_in %>
    <nav>
      Logged In as: <%= @current_user.full_name %>
      <%= button_to "Log Out", logout_path, method: :delete%>
    </nav>
  <% else %>
    <nav>
      <%= link_to "Log-In", login_path %>
    </nav>
  <% end %>


      <%= yield %>

    </body>
  </div>
</html>
